<section class="text-center m-2">
  <h3>Scegli la lunghezza</h3>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button"
          (click)="generateNewPassword($event)">
        <img src="assets/icons/play/icons8-play-bubbles-32.png">
      </button>
    </div>
    <input type="range" class="form-control form-range"
           aria-label="" aria-describedby="basic-addon1"
           min="8" max="26" step="1" value="8"
           style="height: auto"
           #lenghtSelector (change)="generateNewPassword($event)"
    >
  </div>
  <div>

  <div class="input-group mb-3">
      <input type="text" class="form-control" id="passwordOutput"
             #passwordOutSelector>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"
          (click)="copiaPassword($event)"
        >
          <img src="assets/icons/copy/icons8-copy-parakeet-32.png">
        </button>
      </div>
    </div>



  </div>
  <p *ngIf="!hideText">Copiati {{numeroCaratteriCopiati}} caratteri.
    <img src="assets/icons/like/icons8-like-color-32.png">

  </p>
</section>

